<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/navbar.ejs") %>
        <%- include("../partials/errorMessage.ejs") %>
        
        <div class="create-blog content">
            <form method="POST" action="/authors">
              
              <label for="name">Author Name:</label>
              <input type="text" value="<%= author.name %>" id="name" name="name">

              <button>Submit</button>
            </form>
          </div>

        <%- include("../partials/footer.ejs") %>
    </body>

</html>